@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,800&display=swap');

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 90%;
    margin: auto;
}
.clr{
    clear: both;
}
body{
    background-color: #fafafa;
    width: 1440px;
    font-family: 'Nunito Sans', sans-serif;
    
}
.header {
    height: 20%;
    background-color: #ffffff;
    padding: 20px 0 20px 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
}
.header .container{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    color: #000;
}

.icon-text {
    margin-left: 8px;
}

.topnav {

    display: flex;
    overflow: hidden;
    height: 60px;
    width: 35%;
    flex-wrap: nowrap;
    align-content: stretch;
    flex-direction: column;
    border-radius: 5px;
}
.searchbar .container{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.search-container {
    padding: 10px 50px 10px 50px;
    background-color: #ffffff;
    color: #000;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #858585;
}
.button-space{
    padding-left: 15px;
}
.search-container a{
    color: #000;
}

.flag{
    display: flex;
    justify-content: space-between;
}


.falg-info{
    margin-top: 5%;
}


.img-flag{
    width: 40%;
}

.img-flag img{
    width: 100%;
}

.description{
    width: 50%;
    margin-top: 30px;
    /* background-color: aqua; */
}
.description h1{
    margin-bottom: 20px;
}
.description p{
    margin-bottom: 10px;
}
.description .bold{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;

}


.country-info {
    display: flex;
}

.left-column, .right-column {
    flex: 1;
}

.right-column {
    margin-left: 20px;
}

.border-contries{
    margin-top: 20px;
}

.border-contries .border-box{
    padding: 5px 25px 5px 30px;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
}

.border-contries .bold{
    margin-right: 10px;
}



@media screen and (max-width:375px){
    body{
        width: auto;
        font-size: 9px;
    }
    .container{
        width: 88%;
    }
    .header {
        height: 10%;
    }
    .search-container{
        margin-top: 10px;
        margin-bottom: 7px;
    }
    .flag{
        display: flex;
        flex-direction: column;
    }
    .flag .img-flag{
        width: 100%;
    }
    .description{
        font-size: 14px;
        width: 100%;
    }
    .country-info {
        display: flex;
        flex-direction: column;
        /* background-color: blue; */
    }
    .right-column {
        margin-left: 0;
        margin-top: 30px;
        /* background-color: aqua; */
    }
    .border-contries{
        margin-top: 20px;
    }
    .border-contries .bold{
        margin-bottom: 12px;
        display: block;
    }
    .border-contries .border-box{
        padding: 5px 15px 5px 15px;
    }
    .search-container {
        padding: 10px 30px 10px 30px;
        border-radius: 5px;
    }
}
@media screen and (max-width:1440px){
    body{
        width: auto;
    }
}